<div class="container">
    <div class="title">
        <span>My Portfolio</span>
    </div>

    <div class="name">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Kush Srivastava</span><br>
        <span>Software Developer</span>
        <div class="links">
            <a href="https://drive.google.com/file/d/1x9ZHdgN6nR7fsn6WbLS8e0oxNmO6G_ka/view?usp=sharing" target="_blank">
                <i class="bi bi-file-earmark-text"></i> Resume
            </a>
            <a href="https://leetcode.com/kushprakash123/" target="_blank">
                <i class="bi bi-joystick"></i> LeetCode
            </a>
            <a href="link_to_your_github_profile" target="_blank">
                <i class="bi bi-github"></i> GitHub
            </a>
        </div>
    </div>

    <div class="profile">
        <div class="profile-bg"></div>
        <img src="../../assets/dp.jpg" alt="">
    </div>

</div>